.container {
  box-sizing: border-box;
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.firstContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--form-col-gap);
}
