.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 45px;
  background-color: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
height: var(--nav-height);
}

.nav_items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 40%;
  background-color: white;
}

.nav_item {
  border: none;
  cursor: pointer;
  margin-left: 24px;
  background-color: white;
  font-size: 18px;
  text-transform: uppercase;
}
